body {background-image: url("https://th.bing.com/th/id/R.22984cba625ad4a31bae50a5216fd574?rik=SzhLMrOdMPlWBQ&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f96%2f83%2fSaqXpF.jpg&ehk=h%2b%2bVhLireJsbmIKDpyGmfDEpQp0QLiP9ZahdZY%2fPKZU%3d&risl=&pid=ImgRaw&r=0");
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 10%;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 30px;
  border: 15px double #8bbcbbff;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: 15px double #8bbcbbff;
}

h2{
  color: black;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}